// Make page header alignment consistent with widget page header alignment
.universal-wrapper h1 {
  text-align: center;
}

// Center the CTA shortcode button
.cta-group {
  justify-content: center;
}

.news-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.news-card:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

hr.section-divider {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.02);  /* 浅灰色线 */
  margin: 1rem 0;
}


.vertical-line {
  width: 1px;
  height: 80px;             // 或你想要的高度
  background-color: #ccc;   // 可自定义颜色
  margin: 0 auto;           // 居中
}
