{{ $icon := resources.Get "media/icon.png" }}
{{ if $icon }}
  {{ $ico16 := $icon.Fit "16x16 Center" }}
  {{ $ico32 := $icon.Fit "32x32 Center" }}
  {{ $apple := $icon.Fit "180x180 Center" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $ico16.RelPermalink }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $ico32.RelPermalink }}">
  <link rel="apple-touch-icon" href="{{ $apple.RelPermalink }}">
{{ end }}
<link rel="manifest" href="{{ "manifest.webmanifest" | relURL }}">
